@charset "utf-8";

/* U30.ecjtu.net
 * @author            GeeKavalon
 * @version           0.1.1
 * @laast-time        2015.3.13
 *
 */


/* 文件载入
 ----------------------------------------------------------*/
 @import  "./style/data";                    /* 变量文件  */
 @import  "./style/font";					 /* Web 字体  */
 @import  "./style/mixin";                   /* 混入文件  */
 @import  "./style/animation";				 /* CSS3动画  */
 @import  "./reset";                  		 /* CSS Reset */
 @import  "./csshake";                 		 /* css hake  */


/* 页面
 ---------------------------------------------------------- */

html, body {
	background: transparent;
}

#content {
	width: 1090px;
	margin: 0 auto;
	h2 {
		display: block;
		margin-top: 47px;
	}
}

#logo {
	display: inline-block;
	width: 217px;
	height: 68px;
	background: url(../imgs/logo.png);
}

#wrapper {
	z-index: -999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: url(../imgs/bg.png) repeat;
	background-size: cover;
}